body,td,th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000099;
	scrollbar-face-color: #FFFFFF;
	scrollbar-highlight-color: #000099;
	scrollbar-shadow-color: #FFFFFF;
	scrollbar-3dlight-color:#FFFFFF;
	scrollbar-arrow-color:#000099;
	scrollbar-track-color:#FFFFFF;
	scrollbar-drakshadow-color:#000099;
}
a, a:hover, a:link, a visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#FFFFFF;
	text-decoration:none;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;

}
